/* 
filename: "style.css"
author: "Tuan Hung Nguyen"
created: "dont remember"
last modified: "06/04/2022"
description: "contains styling information for all 4 pages"
Purpose: to style pages
*/
/*Delete unneeded space*/
*{
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
    text-decoration: none;
	list-style: none;
}
/*Navigation Bar*/
nav{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    background-color: #FFFFFF;
    display: inline-block;
    
}
nav a {
    float: right;
    color: rgb(83, 87, 166);
    padding: 1.5vh 0.5vw 1.5vh 0.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.3vmin;
    font-family: "Rubik",sans-serif; 
    font-weight: 500;
    font-weight: bold;  
}
/*Crete right margin*/
nav .help{
    margin-right: 50px;
}
/*Hovered Button*/
nav a:hover {
    color: #fbfbf2;
    background-color: rgb(83, 87, 166);
    display: block;
    text-align: center; 
    transition: all .35s;
    border-radius: 15px;
}

/*Section and Animation*/
section .Homepagebanner{
    position:relative;
    z-index: 3;
    height: 100vh;
}
/*Stacked banner*/
 .banner2 , .banner4, .banner5{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.banner1{
    height: 100vh;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}
.bannerimg{
    width: 230%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-out 6s linear infinite;
}
/*Zoom out animation*/
@keyframes zoom-out{
    100%{
        width: 220%;
    }
}
/*Changing slide animation*/
.banner1 {
    animation: slide1 24s linear infinite;
}
.banner2{
    animation: slide2 24s linear infinite;
}
.banner4{
    animation: slide4 24s linear infinite;
}
.banner5{
    animation: slide5 24s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{  
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide5{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
/*aside text-box for homepage and about*/
.text-box h5{
	font-size: 140%;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.text-box{
    width: 30%; 
    position: relative;
    top: 20%;
    left: 3vw;
    color: white;
    font-family: "Rubik",sans-serif;
    animation: textup 24s linear infinite;  
}
.text-box h1{
    margin-bottom: 10%;
    text-transform: capitalize;
	font-size: 250%;
	margin-bottom: 20px;
    color: #4E4EBF;
}
.text-box p{
    font-size: 120%;
    text-align: center;
    line-height:120%;
    border: 3px solid #4E4EBF;
    padding: 13px 20px;
}
/*Special button for homepage and aboutpage*/
.wrapper{
    position: absolute;
    top: 80%;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  .link_wrapper a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 45px;
    font-weight: bold;
    text-decoration: none;
    background: rgb(83, 87, 166);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid rgb(83, 87, 166);
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  .link_wrapper a:hover{
    width: 200px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
  }
  
  .link_wrapper a:hover + .icon{
    border: 3px solid #2ecc71;
    right: -25%;
  }


/*alternate picture of laptop and lady and short information of homepage*/
.black {
    height: 100vh;
    
}

.black .text{
    float: left;
    width: 30%;
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 140%;
}
.black img{
    float: right;
    width: 60%;
}
.whitehomepage{
    height: 100vh;
}
.whitehomepage .text{
    float: right;
    width: 30%;
    text-align: center;
    margin-right: 5%;
    margin-top: 10%;
    font-size: 140%;
}
.whitehomepage img{
    float: left;
    width: 60%;
}  
/*Footer*/
footer{
    background-color: rgb(83, 87, 166);
    width: 100%;
    z-index: 99;
    height:30vh;
    padding: 0px 20px 5px 20px;
}
.footer1{
    color: #e5e6e4;
    text-align: center;
    padding: 3vh 0.5vw; 
    font-size: 1.5vmin;
    text-decoration: none;
}
footer .footer{
    color: #e5e6e4;
    text-align: center;
    padding: 1vh 0.5vw; 
    font-size: 1.5vmin;
    text-decoration: none;
}
/*responsive for homepage*/
@media screen and (max-width: 1530px){
    .Homepagebanner{
        position:relative;
        z-index: 3;
    }
}
@media screen and (max-width: 1300px){
    .black {
        height: 80vh;
    }
    .text-box{
        width: 30%; 
        top: 30%;
        left: 3vw;
    }
    .text-box h1{
        margin-bottom: 10%;
        font-size: 200%;
    }
    .text-box h5{
        font-size: 112%;
    }
    .text-box p{
        font-size: 96%;
        line-height:120%;
    }
    .Homepagebanner{
        height: 80vh;
    }
    .banner1, .banner2 , .banner4, .banner5{
        height: 80vh;
    }
}
@media screen and (max-width: 1000px){
    .text-box{
        top: 24%;
        left: 2.4vw;
    }
    .text-box h1{
        margin-bottom: 6%;
        font-size: 160%;
    }
    .text-box h5{
        margin-bottom: 2%;
        font-size: 89.6%;
    }
    .text-box p{
        font-size: 76.8%;
        line-height:96%;
    }
    .black {
        height: 60vh;
    }
    .black img{
        width: 60%;
    }
    .Homepagebanner{
        height: 60vh;
    }
    .banner1, .banner2 , .banner4, .banner5{
        height: 60vh;
    }
    .black .text{
        font-size: 110%;
    }
    .white .text{
        font-size: 110%;
    }
    .text-box h1{
        font-size: 2.3vmin;
    }
    .text-box p{
        font-size: 2vmin;
    }
}
@media screen and (max-width: 800px){
    .text-box{
        top: 19.2%;
        left: 1.92vw;
    }
    .text-box h1{
        margin-bottom: 6.4%;
        font-size: 128%;
    }
    .text-box h5{
        font-size: 71.68%;
    }
    .text-box p{
        font-size: 61.44%;
        line-height:76.8%;
    }
    .wrapper{
        top: 80%;
      }
    .link_wrapper a{
        display: block;
        font-size: 12px;
        width: 175px;
        height: 35px;
        line-height: 31.5px;
        font-weight: bold;
        text-decoration: none;
        background: rgb(83, 87, 166);
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        border: 2.1px solid;
        transition: all .35s;
      }
      
    .icon{
        width: 35px;
        height: 35px;
        border: 2.1px solid transparent;
        position: absolute;
        transform: rotate(45deg);
        right: 0;
        top: 0;
        z-index: -1;
        transition: all .35s;
      }
      
    .icon svg{
        width: 21px;
        position: absolute;
        top: calc(50% - 10.5px);
        left: calc(50% - 10.5px);
        transform: rotate(-45deg);
        fill: #2ecc71;
        transition: all .35s;
      }
      
    .link_wrapper a:hover{
        width: 140px;
        border: 2.1px solid #2ecc71;
        background: transparent;
        color: #2ecc71;
      }
      
    .link_wrapper a:hover + .icon{
        border: 2.1px solid #2ecc71;
        right: -25%;
      }
    .black {
        height: 48vh;
    }
    .black .text{
        font-size: 90%;
    }
    .white .text{
        font-size: 90%;
    }
    .Homepagebanner{
        height: 50vh;
    }
    .banner1, .banner2 , .banner4, .banner5{
        height: 50vh;
    }
}
@media screen and (max-width: 650px){
    .black {
        height: 35vh;
    }
}
@media screen and (max-width: 540px){
    .wrapper{
        top: 65%;
      }
      
}










/*Product.html part*/
.headingproduct{
    position: relative;
    padding: 100px;
    height: 7vh;
    width: 100%;
}
/*Big heading "Selling Product" of product page*/
.headingproduct h1{
    float: left;
    font-size: 250%;
    text-align: center;
    width: 75%;
    text-transform: uppercase;
    animation: color-change 2s linear infinite alternate-reverse;
    padding: 1vh 1vw 1vh 1vw;
    width: 70.1%;
}
/*name of author heading*/
.headingproduct h3{
    float: right;
    width: 25%;
    text-align: center;
    font-size: 120%;
    margin-top: 12px;
    border: rgb(83, 87, 166) inset 3px;
    border-radius: 20px;
    color: #2ecc71;
    animation: color-change2 2s linear infinite alternate-reverse;
}
/*color change animation*/
@keyframes color-change {
    0% {
        color: black;
    }
    100% {
        color: rgb(83, 87, 166);
    }
}
@keyframes color-change2 {
    0% {
        color: #2ecc71;
    }
    100% {
        color: rgb(83, 87, 166);
    }
}
/*set position for table and products*/
.leftimg{
    padding-top: 5vh;
    position: relative;
    height: 120vh;
}
.leftimg img{
    float: left;
    width: 40%;
    padding-left: 10%;
    padding-top: 10%;
}
.leftimg .product_table{
    float: right;
    width: 55%;
    padding-right: 2%;
}
/*left and right alternate for each product*/
.rightimg{
    padding-top: 5vh;
    position: relative;
    height: 120vh;
}
.rightimg img{
    float: right;
    width: 40%;
    padding-right: 2%;
    padding-top: 10%;
}
.rightimg .product_table{
    float: left;
    width: 55%;
    padding-left: 10%;
}
/*specific change for title and table of product*/
.product_table{
    font-size: 100%;
}
.product_table h2{
    text-transform: capitalize;
	font-size: 250%;
	margin-bottom: 20px;
    color: #4E4EBF;
}
.product_table th {
    background-color: rgb(83, 87, 166);
    color: white;
    border-collapse: collapse;
}
.product_table td{
    border:rgb(83, 87, 166) solid 1px;
}
.productbutton a:hover{
	background: #2ecc71;
	border: 2px solid #2ecc71;
	color: white;
}
.needradius1{
    border-radius: 20px 0px 0px 0px;
}
.needradius2{
    border-radius: 0px 20px 0px 0px;
}
.needradius3{
    border-radius: 0px 0px 0px 20px;
}
.needradius4{
    border-radius: 0px 0px 20px 0px;
} 
/*change position for unsuitable product*/
#macimg{
    padding-top: 25px;
}
#asusimg{
    padding-top: 10px;
}
/*navigation button for each product*/
.productbutton{
    position: fixed;
    z-index: 9999;
    padding-left: 10px;
    top: 40%;
}
.productbutton a{
    font-size: 100%;
    width: 100%;
	background: #2ecc71;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 14px 31px;
	border-radius: 29px;
	transition: .5s;
    display: block;
    margin-bottom: 10px;
}
.productbutton a:hover{
	background: transparent;
	border: 2px solid #2ecc71;
	color: #2ecc71;
}
/*responsive for productspage*/
@media screen and (max-width: 900px){
    .productbutton a{
        font-size: 100%;
        width: 100%;
        display:inline;
        margin-bottom: 10px;
    }
    .productbutton a:hover{
        background-color: #FFFFFF;
        border: 2px solid #2ecc71;
        color: #2ecc71;
    }
    .productbutton{
        position: fixed;
        padding-left: 0px;
        top: 88%;
        left: 20%;

    }
    .leftimg img{
        padding-left: 2%;
    }
    .rightimg .product_table{
        padding-left: 0%;
    }
    .headingproduct h1{
        font-size: 175%;
    }
    .product_table{
        font-size: 70%;
    }
    .headingproduct h3{
        font-size: 84%;
    }
    .product_table h2{
        font-size: 175%;
    }
}
@media screen and (max-width: 700px){
    .productbutton{
        left: 17%;
    }
}
@media screen and (max-width: 600px){
    .productbutton{
        left: 15%;
    }
}
@media screen and (max-width: 500px){
    .productbutton{
        left: 10%;
    }
}

html{
	scroll-behavior: smooth; /* The scrolling feature when clicking the red button */
}

/* Main part design of the page */
/* Visit Ourteam part design */
.container{
    margin-top: 2%;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
	background: #FFFFFF;
}
/*"visit Our Team Members"*/
h1.heading{
	font-size: 60px;
	color: #4E4EBF;
	margin-bottom: 50px;
    text-align: center;
}
/*each member face image*/
.prof{
	height: auto;
	width: 15vw;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 50%;
    
}
/*set green for "visit"*/
#bio{
	color: #2ecc71;
	font-style: italic;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.profiles .profile{
	background: rgb(83, 87, 166);
	border: 2px solid transparent;   /* design the hover button */
	transition: .5s;
    height: 70vh;  
    width: 100%;
    border-radius: 20px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
/*position for member's vertical banner*/
.profiles{
    box-sizing: border-box;
    align-items: center;
    display: flex;
	justify-content: space-around;  
}
.profile h3{
    text-align: center;
	font-size: 38;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	color: #fbfbf2;
    
}
/*responsive for about page, adjust table, font*/
@media screen and (max-width: 1270px){
    .profiles{
        display:block;
        align-items: center;
    }
    .profiles .profile{
        width: 70%;
        margin: 0px auto 25px auto;
        border-radius: 20px;
    }
    #biotext1{
        padding-bottom: 0px;
        width: 300px;
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
    #biotext2{
        padding-bottom: 0px;
        width: 300px;
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
    #biotext3{
        padding-bottom: 0px;
        width: 300px;
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
    #biotext4{
        padding-bottom: 0px;
        width: 300px;
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
    #biotext5{
        padding-bottom: 0px;
        width: 300px;
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
}
.profiles .profile:hover{
	background: #2ecc71;
	border: 2px solid #2ecc71;
	cursor: pointer;
}
/*name of each team's member*/
.Team-profile{
	width: 200px;
	margin-top: 35px;
	font-size: 35px;
}
/*role of each team member*/
.profile h5{
    text-align: center;
	width: 200px;
	font-size: 19px;
	font-weight: 100;
	
	color: black;
	color: #fbfbf2;
}
/*each member discription*/
.profile p{
	padding-bottom: 20px;
	width: 200px;
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
	color: #fbfbf2;
}

.profile a{
	text-decoration: none;
}


/*each member personal page*/
/* button that direct  user to timetable*/
.btn{
    font-size: 100%;
    width: 100%;
	background: #2ecc71;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
    text-align: center;
	padding: 14px 31px;
	border-radius: 29px;
	transition: .5s;
}
/*hover for button that direct  user to timetable */
.btn:hover{
	background: transparent;
	border: 2px solid #2ecc71;
	color: #2ecc71;
	cursor: pointer;
}
/*a big section for personal image and information*/
.aboutpage{   
    width: 100%;
    padding-top: 10vh;
    height: 100vh;
}
figure #faceimage{
    float: right;
}
/*personal image*/
.aboutpage img{
    width: 30%;
    float: right;
    margin-right: 7%;
    border-radius: 10px 0px 10px 0px;
    border: double;
}
/*personal information ( included title and information )*/
.personaldetail{
    width:50%;
    float: left;
    padding: 20px 20px;
    margin-left: 12%;   
}
/*title*/
.personaldetail h1{

	text-transform: capitalize;
	font-size: 190%;
	margin-bottom: 20px;
    color: #4E4EBF;
}
/*"major in" text*/
.personaldetail h5{
	font-size: 140%;
    color: #2ecc71;
	text-transform: capitalize;
	margin-bottom: 20px;
    padding-left: 10px;
}
/*specific information*/
.personaldetail dl{
	color: black;
	line-height: 28px;
	font-size: 100%;
	margin-bottom: 45px ;
	border: 3px solid #4E4EBF;
	border-radius: 4px;
	padding: 13px 20px;
}
dd {
    padding-left: 20px;
}
/*section of table*/
#ttble{
    width: 100%;
	align-items: center;
	background: #FFFFFF;
    
    
}
/*adjust table*/
.ttble table{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	margin-top: 50px;
	border: 1px solid #151314;
	text-align: center;
	border-radius: 20px;
}
/*curved the corner of table*/
#neededradius1{
    border-radius: 20px 0px 0px 0px;
}
#neededradius2{
    border-radius: 0px 20px 0px 0px;
}
#neededradius3{
    border-radius: 0px 0px 0px 20px;
}
#neededradius4{
    border-radius: 0px 0px 20px 0px;
}
/*each element in table*/
.center th{
	border: 1px solid #151314;
	color: black ;
	text-align: center;
	transition: .5s;
}
.center th:hover{
	border: 1px solid transparent;
	background: #4E4EBF;
	color: white;
}
/*hover for each element*/
#lunch:hover{
	border: 1px solid transparent;
	background: yellow;
	color: black;
}

.center td:hover{
	border: 1px solid transparent;
	background: red;
	color: white;
}

td.cos10004:hover{
	border: 1px solid transparent;
	background: #2ecc71;			/* different color for each subject */
	color: white;
}

td.cos10009:hover{
	border: 1px solid transparent;
	background: darkblue;			/* different color for each subject */
	color: white;
}
td.cos10026:hover{
	border: 1px solid transparent;
	background: lightpink;			/* different color for each subject */
	color: black;
}
td.tne10006:hover{
	border: 1px solid transparent; /* different color for each subject */
	background: rosybrown;
	color: white;
}

.center td, th{
	border: 1px solid #151314;
	color: black;
	text-align: center;
	transition: .5s;
    height: 10vh;
    width: 15vw;
}
/*position for center table*/
table.center{   
	font-size: 140%;
	margin-bottom: 30px;
}
.ttble{
	background: #FFFFFF;
}
/*time row*/
.time{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}
/*title "this is my swinburne timetable"*/
.swtb{
	font-size: 50px;
	margin-top: 10px;
	font-weight: bold;
	color:#4E4EBF;
    text-align: center;
}
/*green color for "This is"*/
#ti{
	font-size: 45px;
	font-style: italic;
	color: #2ecc71;
}
/*responsive for each member information page*/
@media screen and (max-width: 1130px){
    .aboutpage{
        width: 100%;
    }
    .center{
        width: 50%;
    }
    .center td, th{
        border: 1px solid #151314;
        color: black;
        text-align: center;
        transition: .5s;
        height: 7vh;
        width: 10.5vw;
    }
    table.center{
        font-size: 98%;
        margin-bottom: 21px;
    }
    .time{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .swtb{
        font-size: 35px;
        margin-top: 7px;
        font-weight: bold;
        color:#4E4EBF;
        text-align: center;
    }
    .personaldetail h1{
        font-size: 133%;
        margin-bottom: 14px;
    }
    .personaldetail h5{
        font-size: 98%;
        margin-bottom: 14px;
        padding-left: 7px;
    }
    .personaldetail dd{
        font-size: 70%;
    }
    .btn{
        font-size: 70%;
        width: 100%;
        padding: 9.8px 21.7px;
        border-radius: 20.3px;
        transition: .5s;
    }
    
    .btn:hover{
        background: transparent;
        border: 2px solid #2ecc71;
        color: #2ecc71;
        cursor: pointer;
    }
}
@media screen and (max-width: 750px){
    .personaldetail h1{
        font-size: 93.1%;
        margin-bottom: 9.8px;
    }
    .personaldetail h5{
        font-size: 68.6%;
        margin-bottom: 9.8px;
        padding-left: 4.9px;
    }
    .personaldetail dd{
        font-size: 49%;
        padding: -2px 9.8px;
    }

    .btn{
        font-size: 49%;
        width: 100%;
        padding: 6.86px 15.19px;
        border-radius: 14.21px;
        transition: .5s;
    }
}
@media screen and (max-width: 860px){
    .aboutpage{
        width: 100%;
        height: 80vh;
    }
    .center{
        width: 30%;
    }
    .center td, th{
        border: 1px solid #151314;
        color: black;
        text-align: center;
        transition: .5s;
        height: 4.9vh;
        width: 7.35vw;
    }
    .personaldetail dd{
        font-size: 80%;
    }
    table.center{
        font-size: 68.6%;
        margin-bottom: 14.7px;
    }
    .time{
        display: flex;
        flex-direction: column;
        margin-top: 24.5px;
        margin-bottom: 24.5px;
    }
    
    .swtb{
        font-size: 24.5px;
        margin-top: 4.9px;
        font-weight: bold;
        color:#4E4EBF;
        text-align: center;
    }
}

/* design resize */ 

/* ENHANCEMENTS CSS */

/* ENHANCEMENTS CSS */

#main-content {
    position: relative;
    top: 10vh;
    margin: 0% 2% 20% 2%;
    font-family: "Rubik",sans-serif;
}

#main-content h1 {
    color: #4E4EBF;
    margin-bottom: 5vh;
}

#main-content h2 {
    color: #2ecc71;
    margin-bottom: 1.5vh;
}

.enhancements {
    /* border-style: solid; */
    margin: 3vh 0%;
}

#example-icon {
    transition: transform 1s;
}

#example-icon:hover {
    transform: rotate(360deg);
}

#example-title {
    animation: example-color-change 0.5s linear infinite alternate-reverse;
}

@keyframes example-color-change {
    0% {
        color: red;
    }
    100% {
        color: blue;
    }
}

#enquirepart{
    padding-top: 100px;
    
    
}
#enquirepart h1{
    text-align: center;
    color: #4E4EBF;
    font-size: 250%;
    padding-bottom: 50px;
}
#enquirepart h3{
text-align: center;
font-family: "Rubik",sans-serif;
font-size: 150%;
margin: 0px 10% 50px 10%;
color:#2ecc71;
}
label{
    text-align: center;
}
fieldset{
    margin: 0px 10% 50px 10%;
    font-size: 150%;
    text-align: center;
    border-color: #4E4EBF;
    border-radius: 20px;
}
.fieldset li{
 margin: 10px 10px 10px 10px;
}
legend{
    text-align: center;
    font-size: 160%;
    color: #4E4EBF;
}
input, select {
    padding: 1% 25px 1% 25px;
    font-size: 120%;
    border-radius: 20px;
    border-color: #2ecc71;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fieldset1{
    margin-top: 20px;
}
.fieldset1 input{
    margin-top: 20px;
}
textarea{
    padding: 0.2% 10px 0.2% 10px;
    font-size: 100%;
    border-radius: 20px;
    border-color: #2ecc71;
    margin-top: 10px;
    margin-bottom: 20px;
}












